
* {
  box-sizing: inherit;
}

html{
    height: 100%
    
}

body {

  padding-bottom: 0px;
  margin: 0;
  min-height: 100%;
}

.app-container {

  position: relative;
  

}

.container-full-page {
  height: 100vh;
}

.container{
  padding-top: 10px;
}

/* Navigation */

.container-nav {
  
  padding: 0 0 0 0;
  width: 100%;
}
.navbar-brand {
  padding-right: 30px;
}

/* Jumbotron...the big image */

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #333;
  background-image: url("../img/stage.jpg");
  background-size: cover;
  border-radius: 0;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: bottom center;
  display: flex;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
  color: black;
}

.jumbotron p {
  text-decoration-color: black;
  font-weight: 400;
}

.jumbotron .container {
  max-width: 40rem;
  max-height: 400px;
  margin: 0 auto;
}

.jumbotron .container {
  max-width: 40rem;
  background: rgba(255,255,255,0.4);
  padding: 2rem;
  color: white;
}

/* Album part below Jumbotron */
.album {
  padding-top: 80px;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
  height: 100vh;
}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
  max-width: 100%;
}

.card-text {
  font-size: 85%;
}

/* POSTS index */

#posts {
  overflow-y: scroll;
}

/* Footer */
.footer {
  
  background-color: #292B2C;
  position: fixed;
  bottom: 0;
  width: 100%;

  
}










